doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mystyle.css')
    //script(src='/javascripts/writeOrders.js')
   // script(src='../controllers/putDate')
    script(src='http://localhost:8080/putDate')
  body
    block content