body{
	font: Georgia 20px;
	background: rgba(205, 157, 233, 0.5);
	color: rgba(111, 29, 82, 1);
	padding: 10px;
	margin: 0px;
}

h1{
	font-style: italic;
	font-size: 48px;
	color: rgba(135, 8, 61, 1);
}

table, tr, td, th{
	border: 1px solid white; 
	padding: 5px;
	border-collapse: collapse;
	/*background: rgba(175, 255, 255, 0.1);*/
	font-size: 20px;
    /*color: brown;
    column-width: 100px;*/
}

#booksDiv{
    width: auto;
}

li{
    list-style-type: none;
}

.listInterval{
    margin: 15px;
}

.hiddenID{
    visibility: hidden;
}

#ordersTable{
    width: 100%;
    height: auto;
    /*column-width: 150px;*/ 
}

#orderTable{
    width: auto;
}

.br{
	border-radius: 10px;
	position: relative;
	/*top:100px;*/
}

#booksDiv, #userNameDiv, #datepickerDiv, #addDiv, #clean{
	float: left;
    margin-left: 15px;
}


#books{
	width: 300px;
	height: 22px;
	/*background-color: rgba(175, 255, 255, 0.1);*/
}

#userName, #datepicker{
    width: 230px;
	height: 22px;
    border-radius: 5px;
}

select, option, optgroup{
	/*background-color: #F6F6F6;*/
	border-radius: 20px;
    /*for WebKit*/
     -webkit-appearance: none;
     /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px; 
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
}

#add{
	width: 150px;
	height: 40px;
    
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(155,30,239);
    box-shadow: 0 -3px rgb(111,22,170) inset;
    transition: 0.2s;
}

#add:hover { background: rgb(111,22,170); }

#add:active {
  background: rgb(111,22,170);
  box-shadow: 0 3px rgb(111,22,170) inset;
}

#clean{
	width: 150px;
	height: 40px;
    
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size:16px;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(96, 39, 231);
    box-shadow: 0 -3px rgb(69, 20, 167) inset;
    transition: 0.2s;
}

#clean:hover { background: rgb(69, 20, 167); }

#clean:active {
  background: rgb(69, 20, 167);
  box-shadow: 0 3px rgb(69, 20, 167) inset;
}

#datepicker{
	/*background-color: red;*/
}

.deleteOrder{
    width: 150px;
	height: 40px;
    
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(172, 57, 98);
    box-shadow: 0 -3px rgb(172, 57, 98) inset;
    transition: 0.2s;
}

.deleteOrder: hover { background: rgb(172, 57, 98); }

.deleteOrder: active {
  background: rgb(168, 8, 64);
  box-shadow: 0 3px rgb(168, 8, 64) inset;
}

.returnBook{
    width: 150px;
	height: 40px;
    
    font-weight: 500;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(128, 51, 151);
    box-shadow: 0 -3px rgb(128, 51, 151) inset;
    transition: 0.2s;
}

.returnBook:hover { background: rgb(128, 51, 151); }

.returnBook:active {
  background: rgb(99, 17, 124);
  box-shadow: 0 3px rgb(99, 17, 124) inset;
}
